@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --c-green: #4C6F6C;
    --c-light-green: #6C928F;
    --c-white: #ffffff;
    --c-gray: #a8abb2;

    --el-border-radius-base: 10px !important;
  }

  body {
    touch-action: pan-x pan-y;
  }

  a {
    cursor: pointer;
  }

  .disabled {
    &, &:active, &:hover {
      color: var(--c-gray) !important;
      border-color: var(--c-gray) !important;
      background: unset !important;
      cursor: default !important;
      user-select: none !important;
    }
  }

  html {
    font-family: 'Inter', system-ui, sans;

    .el-button {
      --el-button-text-color: var(--c-green);
      --el-button-hover-bg-color: var(--c-green);
      --el-button-hover-text-color: var(--c-white);
      --el-button-border-color: var(--c-green);
      --el-button-hover-border-color: var(--c-green);
      --el-button-active-border-color: var(--c-light-green);
    }
  }

  svg {
    margin-block-end: 0 !important;
  }
}
